.nav{
    height: 100vh;
    width: 100vw;
    display: flex;
}
nav .margin{
    display: flex;
    margin-right: auto;
}
nav .margin-right{
    display: flex;
    justify-content: end;
}
nav ul{
    list-style: none;
    width: 100vw;
}
nav ul a{
    text-decoration: none;
    cursor: pointer;
    
}
nav .margin-right a{
padding: 0.5rem;

}
nav .margin h4{
    padding:0 1rem;
}
.margin-right{
position: fixed;
right: 4rem;

}
.margin{
    position: fixed;
    left:4rem;
    background-color: black;
}
#my-video{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100vh;
    width:100vw;
 }
 h4{
    color: #fff
 }
 a{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    
 }
i{
color: white;
cursor: pointer;
 }
.navbar{
    width: 100vw;
    height: 50px;
}
.inlin{
    position:fixed;
    top: 70px;
    left: 20px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}
.inlin a{
    padding: 2rem;
    font-size: 1.6rem;
    font-family:  "Roboto Mono", monospace;
    text-decoration: underline;
}
.margin i a{
    cursor: pointer;
}

.part{
    






/* .parent{
    width: 100vw;l
    display: flex;
    justify-content: end;
    list-style: none;
}
.icon a{
text-decoration: none;
padding: .5rem;
}
ul .margin{
    margin-right: auto;
} */